body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f400;
}

header {
    background-color: #2d2d2d;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
}

.logo {
    max-width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #333;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.anime-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.anime-list article {
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    text-align: center;
}

.anime-list article img {
    max-width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

footer {
    background-color: #2d2d2d;
    color: white;
    text-align: center;
    padding: 10px 0;
}
